  </div>
</div>
  <div class="bg-dark text-white">
  <div class="container">
  <br>
  <div align="center">
    <small><h6 class="display-4">Reach out!</h6></small>
  </div>
  <hr>
  <footer class="page-footer font-small indigo pt-0">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2" align="center">
          <a href="https://www.facebook.com/swabhimaan.dash" class="fa fa-facebook" align="center" title="Follow me on Facebook"></a>
        </div>
        <div class="col-2" align="center">
          <a href="https://twitter.com/dashswabhimaan" class="fa fa-twitter" title="Follow me on Twitter"></a>
        </div>
        <div class="col-2" align="center">
          <a href="https://plus.google.com/u/0/+swabhimaandash" class="fa fa-google" title="Follow me on Google+"></a>
        </div>
        <div class="col-2" align="center">
          <a href="https://www.instagram.com/dashswabhimaan/" class="fa fa-instagram" title="Follow me on Instagram"></a>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </footer>
  <br>
  <hr>
  <div align="center">
    <p style="font-family: Courier New">Copyright &copy; Swabhi 2018</p>
  </div>
  <br>
</div>
</div>


<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
