<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-12">

  <div class="jumbotron text-dark">
    <h1>About The Website</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>

  <div class="jumbotron text-dark">
    <h1>Features</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>


  <div class="jumbotron text-dark">

    <div class="container">
      <div class="row">
        <div class="col-4" align="center">
          <div class="card" style="width:300px; height:440px;">
          <img class="card-img-top" src="/images/swabhi.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Swabhimaan Dash</h5>
            <p class="card-text"><i>"Manual Tester by the day. Full stack Developer and make-believe crime fighter by the night."</i></p>
          </div>
          </div>
        </div>

        <div class="col-8">

          <h1>About Me</h1>
          <br>
          <p>
            <u><strong><i>Profession</i></strong></u><br><br>
            I am currently working in Infosys at Pune as a Test Engineer.
            <br><br>
            <u><strong><i>Personal</i></strong></u><br><br>
            Love Programming<br>
            Mostly interested in Web Development and 2D game programming<br>
            Also interested in plain old console programming<br>
            Value Hardwork the most<br>
            Over-thinker at times<br>
            Proud Geek<br>
            Learning guitar. Halfway through. Will learn Ukelele after that.

          </p>

        </div>

      </div>
    </div>
  </div>
  <br>

  </div>

</div>
</div>
</div>

<% include partials/footer %>
