<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-12">

  <div class="jumbotron text-dark">
    <h1>About The Website</h1>
    <h6>
    <p>This website is for fans (any fans, be it Game of thrones, Harry Potter, FRIENDS .. anything) all over the internet to come together and share their ideas on their favourite topic.</p>
    <p>Users can view and comment on amazing fan theories / fictions / arts created by other users. Users can also post their own.</p>
    <p>An escape for Geeks all over the world!</p>
  </h6>
  </div>

  <div class="jumbotron text-dark">
    <h1>Features</h1>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseft">
            <h5>Fan Theories</h5>
          </a>
        </div>
        <div id="collapseft" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h6><p>You can post you own Fan Theory for people all over the world to see. Edit them. Delete them.</p>
            <p>You can view fan theories posted by other people and like and comment on them.</p></h6>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseff">
            <h5>Fan Fictions</h5>
          </a>
        </div>
        <div id="collapseff" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h6><p>Same goes for Fan fictions as well. If you're somewhat of an author yourself, this is the place to be!</p>
            <p>Share your own fictions and browse fictions posted by others. Create your own world!</p></h6>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapsefa">
            <h5>Fan Arts</h5>
          </a>
        </div>
        <div id="collapsefa" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h6><p>Good at sketching? Post your creations here. Show them off! Get apprecieted!</p>
            <p>Share your Fan art and view creations of other fans all over the world!</p></h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="jumbotron text-dark">

    <h1>About Me</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm-4" align="center">
          <div class="card" style="width:100%;">
          <img class="card-img-top" src="/images/swabhi.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Swabhimaan Dash</h5>
            <p class="card-text"><i>"Manual Tester by the day. Full stack Developer and make-believe crime fighter by the night."</i></p>
          </div>
          </div>
        </div>

        <div class="col-sm-8">

          <div id="accordion">






          <div class="card" style="padding: 5px;">
            <div class="card-header">
              <a class="collapsed card-link collapse show" data-toggle="collapse" href="#collapseTwo">
                <h5>Professional</h5>
              </a>
            </div>
            <div id="collapseTwo" class="panel-collapse in" data-parent="#accordion">
              <div class="card-body">
                <h6>I am currently working in Infosys at Pune as a Test Engineer. This is my first job. Its almost been 2 years here at Infosys. Before Pune I  was posted in Hyderabad for 5 months and before that I was in Mysore for Infosys training for 6 months. Originally I hail from Bhubaneswar. Regarding my academics, I have a bachelors degree in Computer Science and Engineering.</h6>
              </div>
            </div>
          </div>

          <br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                <h5>Personal</h5>
              </a>
            </div>
            <div id="collapseThree" class="panel-collapse in" data-parent="#accordion">
              <div class="card-body">
                <p>
                  <h6>Love programming. Mostly interested in Web development and 2D game programming but i also find plain old console programming quite fascinating. Currently getting to code only post-office. Want to code for a living for the rest of my life.<br>
                  Appriciete hardwork and like to think of myself as a hardworker. <br>
                  An overthinker sometimes. Dont like parties and loud music. Would rewatch game of thrones on the couch rather than go out on weekends. Proud geek.
                  <br>Have great but less than a decent number of friends and like it this way. Prefer quality over quantity on this. Have the best parents in the world.<br>Like unhealthy food. Quickest way to be happy.<br>Currently learning the guitar. Halfway through. Will learn Ukelele after that.<br>
                  Find it hard to start something. Find it harder to quit.<br>
                  Like learning. Love Growing. Am learning. Am growing.</h6>

                </p>
              </div>
            </div>
          </div>

          </div>



        </div>

      </div>
    </div>
  </div>
  <br>

  </div>

</div>
</div>
</div>

<% include partials/footer %>
