<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-12">

<form action="/fanArts/add" method="POST" enctype="multipart/form-data">
  <div id="form-group">
    <label>Caption</label>
    <input class="form-control" name="caption" type="text">
  </div>
  <div id="form-group">
    <label>Category</label>
    <select class="form-control" id="sel1" name="category">
      <option>Game of thrones</option>
      <option>Harry Potter</option>
      <option>Marvel</option>
      <option>DC</option>
      <option>F.R.I.E.N.D.S.</option>
      <option>How I met your mother</option>
      <option>The Big Bang Theory</option>
      <option>Lord of the rings</option>
      <option>Narnia</option>
      <option>Star Wars</option>
      <option>Star Trek</option>
      <option>James Bond</option>
      <option>Sherlock Holmes</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Upload your Art - </label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="fanArt">
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
</form>

</div>
</div>
</div>

<% include partials/footer %>
