<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-12">

<form method= 'POST' action= '/fanTheories/add'>
  <div id="form-group">
    <label>Title</label>
    <input class="form-control" name="title" type="text">
  </div>
  <div id="form-group">
    <label>Description</label>
    <textarea class="form-control" name="description"></textarea>
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
</div>
</div>

<% include partials/footer %>
