<% include partials/header %>

<div class="container"><div class="row"><div class="col-12">
<div class="table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr align="center">
        <th colspan="2"><h4>Feel free to contact me :)</h4></th>
      </tr>
      <tr>
        <th colspan="2"><h5>My Contact Information : </h5></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name - </td>
        <td>Swabhimaan Dash</td>
      </tr>
      <tr>
        <td>Phone - </td>
        <td>9742291489</td>
      </tr>
      <tr>
        <td>Whatsapp - </td>
        <td>9439307550</td>
      </tr>
      <tr>
        <td>Email - </td>
        <td>dashswabhimaan@gmail.com</td>
      </tr>
      <tr>
        <th colspan="2"><h5>Follow me on - </h5></th>
      </tr>
      <tr>
        <td>Facebook - </td>
        <td><a href = "https://www.facebook.com/swabhimaan.dash">https://www.facebook.com/swabhimaan.dash</a></td>
      </tr>
      <tr>
        <td>Instagram - </td>
        <td><a href = "https://www.instagram.com/dashswabhimaan/">https://www.instagram.com/dashswabhimaan/</a></td>
      </tr>
      <tr>
        <td>Twitter - </td>
        <td><a href = "https://twitter.com/dashswabhimaan">https://twitter.com/dashswabhimaan</a></td>
      </tr>
      <tr>
        <td>Google + - </td>
        <td><a href = "https://plus.google.com/u/0/+swabhimaandash">https://plus.google.com/u/0/+swabhimaandash</a></td>
      </tr>
    </tbody>
  </table>
</div>

</div></div></div>


<% include partials/footer %>
