<% include partials/header %>

<div class="container">
<div class="row">
<div class="col-12">

<% let link = "/fanTheories/edit/" + fanTheory._id%>

<form method= 'POST' action= '<%= link %>'>
  <div id="form-group">
    <label>Title</label>
    <input class="form-control" name="title" type="text" value="<%=fanTheory.title%>">
  </div>
  <div id="form-group">
    <label>Description</label>
    <textarea class="form-control" name="description"><%=fanTheory.body%></textarea>
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
</div>
</div>

<% include partials/footer %>
