<div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
  <% messages[type].forEach(function (message) { %>
    <% let className = "alert alert-" + type %>
    <div class="<%= className %>"><%= message %></div>
  <% }) %>
<% }) %>
</div>
