
<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-sm-7">

      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/friends.jpg" width="100%" alt="Los Angeles" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Stir up your own stories of Central Perk!~</strong></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/got.jpg" width="100%" alt="Chicago" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Travel through Westeros and make it yours!~</strong></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/sherlock.jpg" width="100%" alt="New York" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Create your own crime scenes and put Sherlock there!~</strong></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/bbt.jpg" width="100%" alt="Los Angeles" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Wake up the geek in you! Make the gang proud!~</strong></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/hp.jpg" width="100%" alt="Los Angeles" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Wingardium Lavi-ooouu-sa your way through Hogwarts!~</strong></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/marvel.jpg" width="100%" alt="Los Angeles" style="opacity: 0.5;">
            <div class="carousel-caption">
              <h2 class="text-light"><strong>~Make all the superheroes super-er!~</strong></h2>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      <br>

    </div>
    <div class="col-sm-5">

      <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12">

        <div class="jumbotron bg-dark text-white">
          <h2>Quote of the day</h2>
          <hr>
          <i><h5 id="qs">"Its our choices that show what we truly are far more than our abilities"</h5></i>
          <p align="right">-Albus Dumbledore</p>

        </div>

      </div>
      </div>
      </div>

    </div>
  </div>
</div>

<% include partials/footer %>
